.flex{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 62.5%;
}
.block{
    display: block;
}
.none{
    display: none;
}
