.container {
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
    margin-left:calc(15% - 0.8rem);
margin-right: calc(15% - 0.8rem);
}

.numberPages{
    margin: 0 15%;
    list-style: none;
    justify-content: center;
}
.numberPages {
& li{
    margin: 0 0.8rem;
    padding: 1.6rem;
    font-size: 1.6rem;
    &:hover{
        border-radius: 50%;
        background-color: #eee;
        cursor: pointer;
    }
}
}
@media only screen and (min-width:46.25em) and (max-width:64em){
    .numberPages{
        & li{
            margin: 0.8rem;
            padding: 1.2rem;
            font-size: 1.4rem;
        }
    }
}
@media only screen and (max-width: 46.25em){
    .numberPages{
        padding: 0;
        & li{
            margin: 0;
            padding: 0.8rem;
            font-size: 1.2rem;
        }
    }
}