.container{
    display: flex;
    border-radius: 3px;
    background: linear-gradient(to right, #eee, rgb(237, 205, 148), white);
    margin: 0 15%;
justify-content: space-between;
align-items: center;
height: 6rem;
}
.listBar{
    
    padding: 0.8rem 0 ;
    margin: auto 0;
    font-size: 2.2rem;
    & p{
        margin: 0;
    }
}
.listBar li{
    margin: auto 0;
    font-size: 2.2rem;
    &:first-child{
        padding:0  0.8rem;
    }
    &:hover{
        cursor: pointer;
    }
}
.listMore{
    padding: 0.8rem 0 ;
    font-size: 1.6rem;
    & a{
color: black;
    }
}
.listMore li{
    // padding: 0 1.6rem;
    margin: auto 1.6rem;
    font-size: 2.2rem;
    &:first-child{
        justify-content: center;
        align-items: center;
    }
    &:first-child:hover{
        color: lime;
        opacity: 0.8;
    }
    &:hover{
        cursor: pointer;
    }
}
.listMore p{
    margin: auto;
    font-size: 1.6rem;
}