.container {
    display: flex;
    border-radius: 3px;
    background: #eee;
    margin: 0 15%;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.listBar {
    padding: 0.8rem 0;
    margin: auto 0;
    font-size: 2.2rem;

    & p {
        margin: 0;
    }

    & li {
        margin: auto 0;
        font-size: 2.2rem;

        &:first-child {
            padding: 0 0.8rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}


.listMore {
    padding: 0.8rem 0;
    font-size: 1.6rem;

    & a {
        color: black;
    }

    & p {
        margin: auto;
        font-size: 1.6rem;
    }

    & li {
        // padding: 0 1.6rem;
        margin: auto 1.6rem;
        font-size: 2.2rem;

        &:first-child {
            justify-content: center;
            align-items: center;
        }

        &:first-child:hover {
            color: lime;
            opacity: 0.8;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.amountProducts {
    position: relative;
}

.numberAmount {
    // display: none;
    position: absolute;
    padding: 0 0.5rem;
    border-radius: 50%;
    top: -9px;
    right: -9px;
    background-color: orange;
    color: white;
}
.emptybox{
    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 0.8rem 10rem;
    top: 52px;
    right: -40px;
    & img {
        width: 20rem;
    }
    & p{
        display: flex;
        justify-content: center;
        color: red;
    }
   &::before{
    content: "";
    border: solid 2rem;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -37px;
    right: 30px;
   }
}
@media only screen and (min-width:46.25em) and (max-width:64em) {}

@media only screen and (max-width: 46.25em) {
    .listMore {
        & li:first-child {
            display: none;
        }

        & li:last-child {
            display: none;
        }
    }
}