.containerMethod{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 1.8rem;
}
.infoMethod{
    background-color: #eee;
    flex-basis: calc(50% - 3.4rem);
    display: flex;
    padding-right: 1.6rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    margin: 0.8rem ;
    border: solid 1px #eee;
    border-radius: 5px;
    & div{
        flex: 0.5;
        flex-basis: 50%;
    }
    &>div:first-child{
        flex: 0.2
    }
    & input{
        list-style-type: circle;
        width: 2rem;
        height: 2rem;
        &:checked{
            border-color: green;
            background-color: red;
        }
    }
    & i{
        padding: 0.8rem;
    }
}

.dataMethod{
    display: flex;
    flex-direction: column;
}
.styleMethod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p{
        font-weight: bolder;
    }
    & img{
        width: 4rem;
        height: 3rem;
    }
}
@media only screen and (min-width:46.25em) and (max-width:64em) {

}

@media only screen and (max-width: 46.25em) {
 .containerMethod{
    margin: 0;
    flex-direction: column;
 }
.infoMethod{
    margin: 0.8rem 0;
    flex-direction: column;
    padding: 0;
}
}